:root{
    --color-gray: #F5F7FA;
    --color-gray-hover: #adadad;
    --color-gray-alternate: #B1B1B1;
    --color-green: #41D4A8;
    --color-red:#FF4B4A;
    --color-blue: #1814F3;
    --color-blue-hover:#120fbd;
    --color-dark-blue: #343C6A;
    --color-gray-icons: #718EBF;
    --color-yellow: #FFBB38;

    --container-width: 1110px;
    --blocks-border: 25px;


}