.element{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: min(20px, 1.3889vw);

    &_wide{
        width: 50.6944vw;
        max-width: 730px;
    }

    &_small{
        width: 24.3056vw;
        max-width: 350px;
    }

    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__title{
        font-weight: 600;
        font-size: min(22px, 1.5278vw);
        text-transform: capitalize;
    }

    &__body{
        background: white;
        border-radius: min(1.7361vw, 25px);
        overflow-y: hidden;

        &_transparent{
            background: inherit;
        }
    }

    &_chart{
        padding: min(28px, 1.9444vw) min(30px, 2.0833vw);
        display: flex;
        justify-content: center;
    }


}