.element{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min(19.5833vw, 282px);
    margin-bottom: 24px;

    &_wide{
        width: 50.6944vw;
        max-width: 730px;
    }

    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__title{
        font-weight: 600;
        font-size: min(22px, 1.5278vw);
    }

    &__body{
        background: white;
        border-radius: min(1.7361vw, 25px);
        height: min(16.3194vw, 235px);
        overflow-y: hidden;

        &_transparent{
            background: inherit;
        }
    }
}