.transfer{
    &__body{
        height: 276px;
        padding: 35px min(20px, 1.3889vw);
        overflow: auto;
    }

    &__recipient{
        
        &-list{
        font-size: min(16px, 1.1111vw);
        display: flex;
        gap: min(1.9444vw, 28px);
        margin-bottom: 20px;
        }

        &-item{
            display: flex;
            flex-direction: column;
            width: 85px;
            align-items: center;
        }

        &-avatar{
            border-radius: 50%;
            width: min(70px, 4.8611vw);
            aspect-ratio: 1;
            margin-bottom: 1em;
        }

        &-name{
            text-wrap: nowrap;
            text-align: center;
            text-transform: capitalize;
            color: #232323;
        }

        &-position{
            color: var(--color-gray-icons);
            text-transform: capitalize;
        }

        
    }

    &__form{
        position: relative;
        &-field{
            width: min(265px, 18.4028vw);
            background: var(--color-gray);
                color: inherit;
                padding: 15px min(125px, 8.6806vw) 15px 2.0833vw ;
                height: 50px;
                width: 100%;
                border-radius: 50px;
                font-size: min(15px, 1.0417vw);
            
                &::placeholder {
                    font-size: min(15px, 1.0417vw);
                }
            
                &:focus {
                    outline: 1px solid var(--color-yellow);
                }
        }

        &-button{
            background: var(--color-blue);
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: min(125px, 8.6806vw);
            border-radius: min(50px, 3.4722vw);
            color: white;
            font-weight: 600;
            text-align: left;
            padding-inline: min(24px, 1.6667vw);
            transition: 0.3s;
            font-size: min(16px, 1.1111vw);

            &:hover{
                background: var(--color-blue-hover)}

            &::after{
                content: '';
                background: url('../media/icons/button-icons/paper-airplane.svg');
                background-size: contain;
                position: absolute;
                right: min(24px, 1.6667vw);
                height: 10px;
                width: min(26px, 1.8056vw);
                height: min(22.6px, 1.5694vw);
            }
        }
    }

}